[elasticsearch]
name=Elasticsearch repository for {{ elk_es_version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ elk_es_version }}/yum
gpgcheck=1
gpgkey={{ _elk_es_gpg_key }}
enabled=0
autorefresh=1
type=rpm-md
